{{ define "main" }}
  <nav class="nav">
    <strong>PFT</strong>
    <a href="work">Work</a>
    <a href="contact">Contact</a>
    <a href="portfolio">Portfolio</a>
    <a href="About">About</a>
    
  </nav>
<main class="hero">


  <section class="hero-inner">
    <p class="eyebrow">Precise, Fast, Tech</p>
    <h1 class="js-reveal">Precision First Technology</h1>
    <p class="lede js-reveal">
      Advancing precision Tech in markets that need it the most
    </p>
     <p class="lede js-reveal">
    See an unmet need and wish it were solved?    
    </p>
    <a class="button js-reveal" href="#contact">Get in touch</a>
  </section>
</main>


<section id="contact" class= "cont-gradient">
  <div class = "section">
   <h2> Contact</h2>
    <p>Email, form link, or newsletter signup.</p>
   <h2>Work</h2>
    <p>Put your cards, posts, services, or articles here.</p>
  </div>
</section>
{{ end }}